@use 'variables' as v;

footer {
  --wave-height: 269px;

  position: relative;
  margin-top: 169px;
  background-color: var(--cream-color);

  .footer__wave {
    position: absolute;
    top: -177px;
    left: 0;
    right: 0;
    width: 99.9%;
    height: var(--wave-height);
    background-image: url('./../assets/images/footer_wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

    animation: wave 2s ease-in-out infinite alternate both;

    @keyframes wave {
      0% {
        transform: rotate(1deg);
      }

      100% {
        transform: rotate(-1deg);
      }
    }
  }
}

.footer__container {
  padding-bottom: 20px;
  gap: calc(var(--gap) * 2);
}

.footer__container,
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  gap: var(--gap);
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: 0;

  @media (min-width: v.$mobile) {
    flex-direction: row;
    margin: calc(var(--gap) * 2) 0;
  }
}

.footer__navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  li {
    display: flex;
    width: 70px;
    align-self: start;
  }
}

.footer__center {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: var(--gap);
  padding: var(--gap) 0;
  border-bottom: 1px solid var(--grey-color);

  @media (min-width: v.$tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  margin: 0 auto;
}

.footer__button {
  white-space: nowrap;
}

.footer__bottom {
  a {
    text-decoration: underline;
  }
}
